ul {
    list-style-type: none;
	margin: 0;
    margin-left: -8px;
	/*margin-right: -2px;*/
    padding: 0;
    overflow: hidden;
    background-color: #000000;
	position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #404040;
}

.active {
    background-color: #1a53ff;
}
footer {
	background-color: #00FFFF;
	border-style: double;
	position: fixed;
    bottom: 0;
    width: 100%;
	margin-right: 5px;
    padding-left: 10px;
	overflow: hidden;
}
body {
	background-color: #66b3ff;
}
section {
	background-color: brown;
	width: 60%;
	margin-left: 25%;
	padding-left: 15px;
}