ul {
    list-style-type: none;
	margin: 0;
    margin-left: -8px;
    padding: 0;
    overflow: hidden;
    background-color: #07575B;
	position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.white {
	color: white;
}

.green {
	background-color: #44FF55;
}
		
.red {
	background-color: #FF4455;
}
	
li a:hover:not(.active) {
    background-color: #849FA6;
}

.active {
    background-color: #003b46;
}
footer {
	background-color: #07575B;
	color: white;
	border-style: double;
	position: fixed;
    bottom: 0;
    width: 100%;
	margin-left: -15px;
    padding-left: 10px;
	overflow: hidden;
}
body {
	background-color: #66A5AD;
	font-family: sans-serif;
}
section {
	background-color: #C4DFE6;
	width: 65%;
	margin-left: 27%;
	margin-top: 20px;
	padding: 25px;
	box-shadow: 5px 5px 7px #4e5161;
}
section.main{
	width: 75%;
	margin-left: 18%;

}
#section1 {
	margin-top: 100px;
}
#lastSection{
	margin-bottom: 100px;
}

aside.asideLeft {
	background-color: #44A19F;
	position: fixed;
	width: 13%;
	height: 100%;
	margin-left: -15px;
	margin-top: -100px;
	padding-left: 25px;
	box-shadow: 0px 0px 40px #30585C;
}

.recipes {
	margin: auto;
	width: 75%;
	margin-top: 20px;
}


section.contact {
	width: 75%;
	margin: auto;
	margin-top: 100px;
}

section.videos {
	width: 75%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

section.more {
	width: 75%;
	margin: auto;
	margin-top: 100px;
}
		
div.videos {
	position: relative;
	background-color: #90afc5;
	padding: 3%;
}
		
div.videos1 {
	position: relative;
	padding: 3%;
}
		
p.video {
	position: absolute;
	top: 25%;
	left: 45%;
	width: 50%;
}
		
h2.video {
	margin-top: 0;
}
		
embed.video {
	height: 197px;
	width: 350px;
}
		
table,th,td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
		
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}
p.quote{
	padding-left: 60px;
	padding-right: 125px;

}
.AboutUs {
	margin: auto;
	width: 75%;
	margin-top: 100px;
}
.thomas{
	margin-left: 35%;
}
.werre{
	margin-left: 5%;
}
p.werre{
	margin-top: -35px;
	margin-left: 55%;
}
.floatright{
	float: right;
}