ul {
    list-style-type: none;
	margin: 0;
    margin-left: -8px;
	/*margin-right: -2px;*/
    padding: 0;
    overflow: hidden;
    background-color: #000000;
	position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.white {
	color: white;
}
	
li a:hover:not(.active) {
    background-color: #404040;
}

.active {
    background-color: #1a53ff;
}
footer {
	background-color: #000000;
	color: white;
	border-style: double;
	position: fixed;
    bottom: 0;
    width: 100%;
	margin-left: -15px;
    padding-left: 10px;
	overflow: hidden;
}
body {
	background-color: #66b3ff;
}
section {
	background-color: #606060;
	width: 65%;
	margin-left: 27%;
	margin-top: 20px;
	padding: 25px;
	box-shadow: 5px 5px 7px #757575;
}
#section1 {
	margin-top: 50px;
}
#LastSection{
	margin-bottom: 100px;
}

aside.AsideLeft {
	background-color: #909090;
	position: fixed;
	width: 20%;
	height: 100%;
	margin-left: -15px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0px 0px 40px #757575;
}
.RightShadow{
	background-color: #909090;
	position: fixed;
	width: 50px;
	height: 100%;
	margin-left: 100%;
	padding-left: 0px;
	padding-right: 0px;
	box-shadow: -7px 0px 40px #757575;
}